html {
    background-color: ivory;
}

.boxed {
    background-color: rgb(240, 204, 157);
    margin: 15%;
    border: 3px solid black;
    padding: 20px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.buttons {
    flex-direction: row;
}