<div>
    <h1 style="text-align: center;">Dashboard</h1>
    <nav class="navbar navbar-light" style="float: right;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" >
                <button type="button" class="btn btn-outline-danger" style="margin: 10px;" (click)="signup()">Sign Up</button>
                <button type="button" class="btn btn-outline-danger" style="margin: 10px;" (click)="login()">Login</button>
            </li>
        </ul>
    </nav>
    <img style="width:96%; margin:2%; " src="https://cdn.pixabay.com/photo/2017/03/28/22/55/night-photograph-2183637_1280.jpg" />
</div>