<div>
    <h1 style="text-align: center;">Sign Up</h1>

    <!-- <button>Login</button> -->
    <div class="red-box">
        <form [formGroup]="signupRef" (ngSubmit)="registerUser()">
            <label>First Name: </label>
            <input type="text" formControlName="firstName" /> 
            <br /> <br/>
            <label>Last Name: </label>
            <input type="text" formControlName="lastName" /> 
            <br /><br />
            <label>Username: </label>
            <input type="text" formControlName="username" /> 
            <br /><br />
            <label>Enter Password: </label>
            <input type="password" formControlName="password" />
             <br /><br />
            <label>Reenter Password: </label>
            <input type="password" formControlName="password2" />
            <br/><br/>

            <button type="button" class="btn btn-outline-light" style="margin: 10px;" (click)="login()" >Login</button>
            <button type="submit" class="btn btn-outline-light" style="margin: 10px;" [disabled]="signupRef.invalid || !checkPassword()">Register</button>
            <button type="reset" class="btn btn-outline-light" style="margin: 10px;" >Reset</button>

        </form>
    </div>
    
    
</div>