/* You can add global styles to this file, and also import other style files */

html {
    background-color: #F1CED4;
}

div{
    background-color: #F1CED4;
}

.red-box{
    background-color: #AA1945;
    margin: 3% 10% 3% 10%;
    padding:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: large;
    color: #F9CCD3;
    text-align: center;
}

.brown-box{
    background-color: #391306;
    margin: 3% 10% 3% 10%;;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: large;
    color: #F9CCD3;
    text-align: center
}